body {
    background-color: #eee;
}

.form-signin {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}

input#username {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -1px;
}

input#password {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}