<!DOCTYPE html>
<html>
<head>
    <title>User Service</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <div class="container">
        <form action="/login" method="post" class="form-signin">
            <h2 class="form-signin-heading">Please Sign In</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" class="form-control" id="username" name="username" required="required"
                   autofocus="autofocus"/>
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password" name="password" required="required"/>
            <div class="checkbox"><label><input type="checkbox" value="rememberMe" />Remember me</label></div>
            <button class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
    </div>


<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>